obj
bin
*.user
_ReSharper*
*.suo
logs
src/packages/*
!src/packages/repositories.config
*target*
*.class
build
.settings/*
icuService/.settings/*
RemoteSystemsTempFiles/*
.metadata/*
*.publishsettings
rcf
csx
PageFeedback\PageFeedback.Azure\Profiles
