<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FbApiQuery</title>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
        var fbAppId = 161236587286870;
        var facebookPermissionScopes = [];

        facebookPermissionScopes = facebookPermissionScopes.join(",");
        console.log("facebookPermissionScopes: %s", facebookPermissionScopes);

        $(function () {

            $(document).on('gotFbToken', function (e, fb) {
                var fbId = fb.uid;
                var fbToken = fb.token;

                var jsonData = JSON.stringify( {fbToken :fbToken });
                var successCallback = function (result) {
                    console.log(result);
                };

                var errorCallback = function (result) {
                    console.log(result);
                };

                $.ajax({
                    url: "/fb/token",
                    data: jsonData,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json; charset=UTF-8",
                    success: successCallback,
                    error: errorCallback,
                    async: false
                });

            });


            $(document).on('fbLoaded', function () {
                console.log('fbLoaded called');

                FB.getLoginStatus(function (response) {
                    if (response.status === 'connected') {

                        console.log('User connected and authorize');
                        var uid = response.authResponse.userID;
                        var accessToken = response.authResponse.accessToken;

                        $(document).trigger('gotFbToken', [{ uid: uid, token: accessToken }]);

                    } else if (response.status === 'not_authorized') {
                        // the user is logged in to Facebook, but has not authenticated your app
                        console.log('User connected but not authorize');
                        try {
                            FB.logout(function (response) {
                                // user is now logged out
                                console.log('User log out');
                                FB.login(logInFacebookCallback, {
                                    scope: facebookPermissionScopes,
                                    return_scopes: true
                                });
                            });
                        } catch (err) {
                            console.log(err);
                        }


                    } else {
                        // the user isn't logged in to Facebook.
                        console.log('User log in first time');
                        try {
                            FB.login(logInFacebookCallback, {
                                scope: facebookPermissionScopes,
                                return_scopes: true
                            });
                        } catch (err) {
                            console.log(err);
                        }
                    }
                });


                function logInFacebookCallback(response) {
                    if (!response.authResponse) {
                        console.log(response.authResponse);
                        return;
                    }
                    var accessToken = response.authResponse.accessToken;
                    var uid = response.authResponse.userID;
                    $(document).trigger('gotFbToken', [{ uid: uid, token: accessToken }]);
                }



            });

        });//end ready
    </script>
</head>
<body>
    <div id="fb-root"></div>
    <script type="text/javascript">

        window.fbAsyncInit = function () {
            FB.init({
                appId: fbAppId,
                status: true,
                xfbml: true
            });

            $(document).trigger('fbLoaded');
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</body>
</html>
